.water {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: -1;

  }

  
  /* Diğer stiller buraya */
  
  
  .wave {
    position: absolute;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg') repeat-x;
    width: 6400px;
    height: 198px;
    bottom: -50px;
    left: 0;
    transform: translate3d(0, 0, 0);
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  }
  
  @keyframes wave {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1500px, 0, 0);
    }
  }
  